Repository rkosegi/yaml-toolkit, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, schemas, component:dom, component:path, component:pipeline

CI: Update pre-commit
  .pre-commit-config.yaml
Labels: none

CI: Update pre-commit
  .pre-commit-config.yaml
Labels: none

Pipeline: Add templateFile operation
  pipeline/foreach_op_test.go
  pipeline/op_spec.go
  pipeline/op_spec_test.go
  pipeline/template_file_op.go
  pipeline/template_file_op_test.go
  pipeline/template_op.go
  pipeline/types.go
  pipeline/utils_test.go
  testdata/invalid.template
  testdata/simple.template
Labels: tests, component:pipeline

Pipeline: Add templateFile operation
  pipeline/foreach_op_test.go
  pipeline/op_spec.go
  pipeline/op_spec_test.go
  pipeline/template_file_op.go
  pipeline/template_file_op_test.go
  pipeline/template_op.go
  pipeline/types.go
  pipeline/utils_test.go
  testdata/invalid.template
  testdata/simple.template
Labels: tests, component:pipeline

Pipeline: refactor pipeline tests - remove deprecated mock context functions
  pipeline/abort_op_test.go
  pipeline/define_op_test.go
  pipeline/env_op_test.go
  pipeline/exec_op_test.go
  pipeline/export_op_test.go
  pipeline/ext_op_test.go
  pipeline/foreach_op_test.go
  pipeline/log_op_test.go
  pipeline/loop_op_test.go
  pipeline/op_spec_test.go
  pipeline/utils_test.go
Labels: tests, component:pipeline

Pipeline: refactor pipeline tests - remove deprecated mock context functions
  pipeline/abort_op_test.go
  pipeline/define_op_test.go
  pipeline/env_op_test.go
  pipeline/exec_op_test.go
  pipeline/export_op_test.go
  pipeline/ext_op_test.go
  pipeline/foreach_op_test.go
  pipeline/log_op_test.go
  pipeline/loop_op_test.go
  pipeline/op_spec_test.go
  pipeline/utils_test.go
Labels: tests, component:pipeline

Use Go 1.23
  .github/workflows/ci.yaml
  go.mod
Labels: none

Use Go 1.23
  .github/workflows/ci.yaml
  go.mod
Labels: none

Misc: remove unused code
  it/int_test.go
Labels: tests

.github/labeler.yml:

# Copyright 2025 Richard Kosegi
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
feature:
  - head-branch: ['^feature', 'feature']

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'
          - '**/*.md'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*_test.go'

schemas:
  - changed-files:
      - any-glob-to-any-file:
          - 'schemas/*.json'

component:dom:
  - changed-files:
      - any-glob-to-any-file:
          - dom/*

component:path:
  - changed-files:
      - any-glob-to-any-file:
          - path/*

component:pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - pipeline/*
